.slide-up-fast {
    position: relative;
    animation: slideUp 1s ease-in-out;
}
.slide-up-medium {
    position: relative;
    animation: slideUp 2s ease-in-out;
}
.slide-up-slow {
    position: relative;
    animation: slideUp 3s ease-in-out;
}

@keyframes slideUp {
    from {
        top: 100px;
        opacity: 0.1;
    }

    to {
        top: 0;
        opacity: 1;

    }
}

.spinner{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 2200px;
    z-index: 1;
    text-align: center;
    background: pink;
    animation: spinerUp 3s ease forwards;
    h1{
        margin: 20rem;
    }
}

@keyframes spinerUp{
    from{
        opacity: 1;
    } 95%{
        opacity: 1;
    } to {
        opacity: 0;
    }
}