/* FONTS */
* {
    font-family: 'Roboto', sans-serif;
    color: $dark;

}

h1 {
    font-family: 'Shrikhand', cursive;

}
main{
    max-width:960px;
    margin: 0 auto;
}

/* TEXT */
.text {
    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--grey {
        color: grey;
    }

    &--white {
        color: white;
    }

    &--success {
        color: green;
    }
}

/* BUTTONS */
.btn {
    padding: 1rem;
    border: none;
    box-shadow: 1px 4px 6px $grey-dark;

    &--rounded {
        border-radius: 25px;
    }

    &--linear-lighter-up {
        background: linear-gradient($secondary, $primary);
        opacity: 1;
        transition: opacity 0.5s ease,box-shadow 0.5s ease;

        &:hover {
            opacity: 0.8;
            box-shadow: 2px 6px 10px $dark;
        }
    }

    &--linear-lighter-down {
        background: linear-gradient($primary, $secondary);

    }
}

/* LISTS */
.list {

    &--unstyled {
        list-style: none;
        padding: 0;
    }
}

/* VISIBILITY */
.d {
    &--none {
        display: none;
    }

    &--block {
        display: block;
    }

    &--inline-block {
        display: inline-block;
    }
}

/* POSITIONING */
.d-flex {
    display: flex;
}

.d-flex {
    &--justify-center {
        @extend .d-flex;
        justify-content: center;
    }

    &--justify-between {
        @extend .d-flex;
        justify-content: space-between;
    }

    &--justify-around {
        @extend .d-flex;
        justify-content: space-around;
    }

    &--align-center {
        @extend .d-flex;
        align-items: center;
    }

    &--flex-flow-column {
        @extend .d-flex;
        flex-flow: column-reverse;
    }
}


.icon-container {
    width: 1rem;
    height: 1rem;
}