/* PAGE HEADER IMAGE */
.top-image {
    margin: 0;
    width: 100%;

    img {
        width: 100%;
    }
}

/* MENU */
.menu {
    padding: 1rem;

    header span i {

        &::after {
            content: '';
            position: relative;
            background: url("../icons/heart-regular.svg");
            display: block;
            width: 30px;
            height: 30px;
        }

        &:hover::after {
            background: url("../icons/heart-solid.svg");
        }
    }
}

article {
    margin-bottom: 3rem ;
    header {
        border-bottom: 4px solid $tertiary;
        width: 4rem;

        h2 {
            margin-bottom: 0.5rem;
        }
    }

}

.meal-card {
    position: relative;
    overflow: hidden;
    width: 92%;
    padding: 0.8rem;
    margin: 1rem 0;
    box-shadow: 1px 4px 6px $grey-dark;
    border-radius: 15px;
    height: 100%;
    cursor: pointer;

    .meal-card__left {
        width: 100%;
        transition: width 0.5s ease;

        p,
        ul {
            margin: 0;
        }

        &>p, .meal__price p {
            font-weight: bold;
            margin-bottom: 0.25rem;
        }
        .meal__toppins{
            font-size: .8rem;
        }
    }

    .meal-card__right {
        position: absolute;
        right: -75px;
        background: $tertiary;
        display: block;
        height: 75px;
        width: 75px;
        transform: rotateZ(-180deg);
        transition: transform 0.5s ease;
        transition: right 0.5s ease;

        i {
            position: absolute;
            transform: translate(120%, 105%);
            background: white;
            border-radius: 50%;
            color: $tertiary;
            padding: 0.25rem;
        }
    }

    &:hover {
        .meal-card__left {
            width: 80%;
        }

        .meal-card__right {
            right: 0px;
            transform: rotateZ(0deg);
        }
    }
}