/* PAGE HEADER IMAGE */
.top-image {
    margin: 0;
    width: 100%;
    overflow: hidden;

    img {
        position: relative;
        top: 10px;
        width: 100%;
        height: 260px;
        object-fit: cover;
        transform: scale(1.1, 1.05);
    }
}

/* MENU */
.menu {
    padding: 1rem;
    position: relative;
    background: $grey-xlight;
    border-radius: 25px 25px 0 0;
    top: -2rem;

    header {
        h1 {
            margin-left: 0.5rem;
            font-size: 1.7rem;
        }

        span i {
            &::after {
                content: '';
                position: relative;
                top: -5px;
                right: 10px;
                background: url("../icons/heart-regular.svg");
                display: block;
                width: 30px;
                height: 30px;
            }

            &:hover::after {
                background: url("../icons/heart-solid.svg");
            }
        }
    }
}

.meal {
    margin-bottom: 2rem;

    header {
        border-bottom: 4px solid $tertiary;
        width: 4rem;

        h2 {
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
        }
    }

}

.meal-card {
    position: relative;
    background: white;
    padding: 0 0 0 1rem;
    margin: 1rem 0;
    box-shadow: 1px 4px 6px $grey-dark;
    border-radius: 15px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .meal__data {
            width: 170px;
            max-width: 190px;

            @media screen and (min-width:768px) {
                width: 300px;
                max-width: 300px;
            }
        }

        .meal__price {
            right: 0;

            .icon {
                right: 0;

                i {
                    transform: rotateZ(0deg);
                }
            }
        }

    }

    p {
        margin: 0;
    }

    .meal__data p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 260px;
        transition: width 0.5s ease;
        font-size: .9rem;

        &:first-child {
            font-size: 0.95rem;
            font-weight: bold;
        }

        @media screen and (min-width:768px) {
            max-width: 300px;
        }
    }

    .meal__toppins {
        margin-top: 0.25rem;
        font-size: 0.8rem;
    }

    .meal__price {
        position: relative;
        right: -64px;

        font-weight: bold;
        transition: right 0.5s ease;

        p {
            margin-right: 1.2rem;
            margin-bottom: -1.5rem;
        }

        .icon {
            padding: 1rem;
            background: $tertiary;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;

            i {
                background: white;
                color: $tertiary;
                border-radius: 50%;
                padding: 0.25rem;
                transform: rotateZ(-180deg);
                transition: transform 1s;
            }
        }
    }



    @media screen and (min-width:768px) {
        max-width: 700px;
        margin: 1.5rem auto;


    }

}

.order {
    margin-bottom: 4rem;

    button {
        font-weight: bold;
    }
}