@import url('/assets/css/normalize.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Shrikhand&display=swap');
@import '_variables.scss';
@import '_global.scss';

/* HEADER */
.main-header {
    position: relative;

    &--border-bottom {
        border-bottom: 4px solid $grey-dark;
    }

    & a {
        position: absolute;
        margin-left: 2rem;
        color: $dark;

    }
}

.hero {
    @extend .text--center;

    &__search {
        background: $grey-light;
        margin: 0 auto;

        &>i {
            padding: 0.8rem 0 1rem 1rem;
        }

        &>input {
            background: $grey-light;
            border: none;
            font-weight: bold;

            &::placeholder {
                padding: 1rem;
            }
        }
    }

    &__cta {
        padding: 2rem;

        & p:nth-of-type(1) {
            font-weight: bold;
            font-size: 1.8rem;
            margin-bottom: 0rem;
        }

        & p:nth-of-type(2) {
            @extend .text--grey;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        & button {
            @extend .text--white;
            font-weight: bold;
        }
    }

}